// Variables

// Font Weight
$ligth: 100;
$regular: 300;
$semibold: 500;
$bold: 900;

// Font Sizes
$xxxx-large: 15rem;
$xxx-large: 8rem;
$xx-large: 3rem;
$large: 2rem;
$medium: 1.5rem;
$small: 1.25rem;

//media quieris
$breakpoints: (
  sm: 600px,
  md: 960px,
  lg: 1264px,
  xl: 1904px
);